<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhuandian.androidstudy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SecondFloorActivity"></activity>
        <activity android:name=".activity.handler_test.HandleTestActivity" />
        <activity android:name=".activity.handler_test.HandlerTestActivity" />
        <activity android:name=".activity.RxjavaActivity" />
        <activity android:name=".activity.AopTestActivity" />
        <activity android:name=".AopTestActivity" />
        <activity android:name=".activity.AnnotationActivity" />
        <activity android:name=".activity.FlutterMainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.layout_activity.LinearLayoutActivity" />
        <activity android:name=".activity.layout_activity.GridLayoutActivity" />
        <activity android:name=".activity.layout_activity.FixLayoutActivity" />
        <activity android:name=".activity.layout_activity.ScrollFixLayoutActivity" />
        <activity android:name=".activity.layout_activity.FloatLayoutActivity" />
        <activity android:name=".activity.layout_activity.ColumnLayoutActivity" />
        <activity android:name=".activity.layout_activity.SingleLayoutActivity" />
        <activity android:name=".activity.layout_activity.OnePlusNLayoutActivity" />
        <activity android:name=".activity.layout_activity.StickLayoutActivity" />
        <activity android:name=".activity.layout_activity.StaggeredGridLayoutActivity" />
        <activity android:name=".activity.layout_activity.AllLayoutHelperActivity" />
        <activity android:name=".activity.layout_activity.LayoutMainActivity" />
        <activity android:name=".activity.view_activity.ViewMainActivity" />
        <activity android:name=".activity.view_activity.ViewDragHelperActivity" />
        <activity android:name=".activity.view_activity.view.BannerViewAcitivity" />
        <activity android:name=".activity.notification_activity.NotificationActivity" />
    </application>

</manifest>